.Hero {
    position: relative;
    padding-top: 5em;
    padding-bottom: 5em;
    color: white;
    text-align: center;
    z-index: 0;
    background-image: -webkit-radial-gradient(top, circle cover, hsl(199, 31%, 53%) 0%, hsl(214, 62%, 42%) 80%);
    background-image: -moz-radial-gradient(top, circle cover, hsl(199, 31%, 53%) 0%, hsl(214, 62%, 42%) 80%);
    background-image: -o-radial-gradient(top, circle cover, hsl(199, 31%, 53%) 0%, hsl(214, 62%, 42%) 80%);
    background-image: radial-gradient(top, circle cover, hsl(199, 31%, 53%) 0%, hsl(214, 62%, 42%) 80%);
}

@media (max-width: 400px) {
  .Hero {
    display: none;
  }
}
