

.AdminList ul {
  list-style: none;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}

.AdminList h2 {
  margin-top: 1em;
  text-align: center;
  color:#64a3a8;
}

.AdminList img {
  object-fit: contain;
  height: 250px;
}

.AdminList li {
  border: 1px solid lightgrey;
  margin: 3em;
  width: 500px;
  padding: 1em;
}



.AdminList .thumbnail {
  white-space: nowrap;
  overflow: hidden;
  text-overflow:ellipsis;
  width: 250px;
}

.AdminList input {
  display: block;
  font-size: 16px;
  width: 100%;
  padding: 3px;
}


.AdminList textarea {
  padding: 3px;
  width: 100%;
  height: 4em;
  font-size: 16px;
}

.AdminList li > div {
  justify-content: space-between;
  display: flex;
  flex-direction: row;
}

.AdminList li > div > div {
  flex: 1 1 auto;
  margin-right: 1em;
}

.AdminList .changeItem {
  background-color: #e3f9f7;
  border: 1px solid #bedde0;
}


.AdminList button {
  margin-top: .5em;
  width: 200px;
  padding: .5em;
  padding-left: 3em;
  padding-right: 3em;
  font-size: 16px;
  border: none;
  transition: background-color .5s;
  box-shadow: 0px 2px 2px 0px rgba(0,0,0,.4);
}

.AdminList .ChangeButton {
  background-color: #bedde0;
}

.AdminList .ChangeButton:hover {
  background-color: #64a3a8;
  color: white;
}

.AdminList .SaveButton {
  background-color: lightgreen;
}

.AdminList .RemoveButton {
  background-color: #ff8787;
  margin-left: 60px;
}
.AdminList .AddButton {
  margin-left: 50%;
  transform: translateX(-50%);
  background-color: lightgreen;
}

.AdminList .RemoveButton:hover {
  background-color: #dd1f1f;
  color: white;
}

.AdminList .BadInput {
  color: red;
  font-size: 16px;
}

.AdminList button:focus{
  outline: none;
}

.AdminList .SaveButton:hover {
  background-color: green;
  color: white;
}

.AdminList .AddButton:hover {
  background-color: green;
  color: white;
}

.AdminList p {
  margin-top: 10px;
  font-size: 14px;
}

@media (max-width: 500px) {
  .AdminList li {
    width: 300px;
  }
  .AdminList li > div {
    flex-direction: column;
  }

  .AdminList img {
    margin-top: .5em;
    margin-bottom: .5em;
  }

  .AdminList .SaveButton {
    margin-left: 35px;
  }
  .AdminList .ChangeButton {
    margin-left: 35px;
  }
  .AdminList .RemoveButton {
    margin-left: 35px;
  }

}
